:root {
  --primary-green: #4fb518;
  --secondary-green: #31581c;
  --bg-semi-white: #f9faf9;
  --text-brown: #efad60;
  --dropdown-white: #f7f7f7;
  --primary-gray: #626762;
  --input-gray: #ffffff;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "brink-regular";
    src: url(/fonts/brink-regular.otf);
  }
  @font-face {
    font-family: "brink-bold";
    src: url(/fonts/brink-bold.otf);
  }
  body {
    font-family: "brink-regular", sans-serif;
    letter-spacing: 0.25px;
    @apply font-[400] text-[1rem];
  }
}

@layer components {
  .success input[type="password"] {
    @apply text-[3rem];
  }
}
@layer utilities {
  .error {
    @apply text-[0.9rem] ml-1 mt-1 text-red-500;
  }

  .animation {
    transition: all 0.3s ease-in-out;
  }
}
